<div class="row">
 <%= render 'instructor/schedule', today_schedules: @today_schedules %>
 <div class="col-8 mt-2">
<h6>担当受講生徒一覧</h6>
   <table class="table">
    <thead>
     <tr>
      <th scope="col">生徒名</th>
      <th scope="col">受講車種</th>
      <th scope="col">在職状況</th>
      <th scope="col">入校日</th>
      <th scope="col">コメント数</th>
     </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
      <tr>
       <td><%= link_to course.student.name, course_path(course.id) %></td>
       <td><%= course.car_model_i18n %></td>
       <td><%= course.status_i18n %></td>
       <td><%= l course.start_time %></td>
       <td><%= "#{course.comments.count} コメント" %></td>
      </tr>
      <% end %>
    </tbody>
   </table>
  </div>
</div>
