<div class="row mt-3">
   <%= render 'instructor/schedule', today_schedules: @today_schedules %>
 <div class="col-9 mt-2">

  <h7 class="d-inline-flex justify-content-start bg-success p-1 text-dark bg-opacity-50">受講者情報</h7>
  <table class="table">
   <tbody>
    <tr>
     <th>受講生徒名</th>
      <td><%= @course.student.name %></td>
     <th>生年月日</th>
      <td><%= @course.student.birthday.jisx0301 %></td>
    </tr>
    <tr>
     <th>電話番号</th>
      <td><%= @course.student.phone %></td>
     <th>入校日</th>
      <td><%= l @course.start_time %></td>
    </tr>
    <tr>
     <th>担当者</th>
      <td><%= @course.instructor.name %></td>
     <th>受講車種</th>
      <td><%= @course.car_model_i18n %></td>
    </tr>
    <tr>
      <th>ステータス</th>
       <td>
         <% if @course.status_i18n == "卒業" %>
          卒業
         <% else %>
          在籍中
         <% end %>
       </td>
      <th>予定一覧</th>
       <td><%= link_to "予約一覧",course_schedules_path(@course.id) %></td>

     </tr>
    </tbody>
  </table>

 <%= form_with model: [@course, @comment] do |f| %>
   <%= f.label :"段階選択" %>
   <%= f.select :howmany, options_for_select(['1段階-1','1-2','1-3','1-4','1-5','1-6','1-7','1-8','1-9','1-10','1-11以降',
        '2段階-1','2-2','2-3','2-4','2-5','2-6','2-7','2-8','2-9','2-10','2-11以降']), {include_blank: '選択してください'} %>
  <div class="row my-2 align-items-center">
   <div class="col-10">
    <!--<input class="form-control form-control-sm" type="text" placeholder="コメントをここに" aria-label=".form-control-sm example">-->
    <%= f.text_area :comment_body, placeholder: "コメントをここに", class: "form-control form-control-sm" %>
   </div>
   <div class="col-2">
    <%= f.submit "送信", class: 'btn btn-success mx-2 text-nowrap' %>
   </div>
  </div>
  <% end %>

<h7 class="d-inline-flex justify-content-start bg-info p-1 text-dark bg-opacity-25">
   新着順コメント(<%= @course.comments.count %>件)
   </h7>
   <%= link_to "全件表示", course_comments_path(@course.id), class:"btn btn-outline-info btn-sm" %>

  <table class="table" style="font-size: 75%;">
    <thead>
     <tr>
      <th scope="col-auto">日時</th>
      <th scope="col-auto">段階</th>
      <th scope="col-auto">コメント者</th>
      <th scope="col-auto">内容</th>
     </tr>
    </thead>
 <% @comments.each do |comment| %>
    <tbody>
     <td><%= l comment.created_at %></td>
     <td><%= comment.howmany %></td>
     <td><%= comment.instructor.name %></td>
     <td><%= comment.comment_body %></td>
    </tbody>
 <% end %>
  </table>
   <%= paginate @comments %>



</div>
</div>

