  <div class="col-3">
    <!--生徒関連-->
    <h7>登録コース数／全<%= Course.count %>件</h7>
     <%= link_to "受講生コース一覧", admin_courses_path, class: 'btn btn-info' %>
    <br>
      <%= form_with url: admin_courses_search_path, local: true, method: :get do |f| %>
      <form class="d-flex align-items-center" role="search">
        <%= f.select :car_model, Course.car_models_i18n.invert %>
        <%= f.submit "検索", class: 'btn btn-success mx-2 text-nowrap' %>
      </form>
    <% end %>


    <br>
    <!--指導員関連-->
    <h7>登録指導員数／全<%= Instructor.count %>名</h7>
     <%= link_to "指導員一覧", admin_instructors_path, class: 'btn btn-info' %>

  </div>