<div class="row mt-4">
  <%= render 'admin/search' %>
 <div class="col">
  <h6>指導員一覧</h6>
   <table class="table">
    <thead>
     <tr>
      <th scope="col-1">No</th>
      <th scope="col-5">指導員名</th>
      <th scope="col-3">登録アドレス</th>
      <th scope="col-2">状況</th>
      <th scope="col-1">担当件数</th>
     </tr>
    </thead>
    <tbody>
      <% @instructors.each do |instructor| %>
      <tr>
       <td><%= instructor.id %></td>
       <td><%= link_to instructor.name, admin_instructor_path(instructor.id) %></td>
       <td><%= instructor.email %></td>
       <td>
        <% if instructor.is_deleted == false %>在職中
        <% else %>退職
        <% end %>
       </td>
       <td><%= instructor.courses.count %>件</td>
      </tr>
      <% end %>
    </tbody>
   </table>
   <%= paginate @instructors %>
<%= link_to "Homeへ", admin_homes_top_path %>
 </div>
</div>
