
 <div class="col">
  <h8><%= l @class_day %>の時間割</h8>
<br>
   <%= link_to "予定追加", new_admin_schedule_path, class: 'btn btn-primary' %>
   <table class="table">
    <thead>
     <tr>
      <th scope="col-1">時限</th>
      <th scope="col-5">受講生徒/車種</th>
      <th scope="col-2">担当指導員</th>
      <th scope="col-2"></th>
     </tr>
    </thead>
    <tbody>

     <% @schedules.each do |schedule| %>
     <tr>
      <td><%= "#{schedule.class_time}限" %></td>
      <td><%= schedule.course.course_name %></td>
      <td><%= schedule.instructor.name %></td>
      <td><%= link_to "変更", edit_admin_schedule_path(schedule.id) %>
          <%= link_to "削除", admin_schedule_path(schedule.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </td>
     <tr>
     <% end %>
    </tbody>
   </table>
   <%= link_to "予定一覧", admin_schedules_path, class:"btn btn-info" %>
 </div>
