<h1>Admin::Schedules#index</h1>
<p>Find me in app/views/admin/schedules/index.html.erb</p>

<table class="table">
    <thead>
     <tr>
      <th scope="col-2">受講日</th>
      <th scope="col-1">時限</th>
      <th scope="col-5">受講生徒/車種</th>
      <th scope="col-2">担当指導員</th>
      <th scope="col-2"></th>
     </tr>
    </thead>
    <tbody>

     <% @schedules.each do |schedule| %>
     <tr>
      <td><%= schedule.class_day %></td>
      <td><%= link_to "#{schedule.class_time}限目",admin_schedule_path(schedule.id) %></td>
      <td><%= schedule.course.course_name %></td>
      <td><%= schedule.instructor.name %></td>
      <td><%= link_to "変更", edit_admin_schedule_path(schedule.id) %></td>
     <tr>
     <% end %>
    </tbody>
   </table>