<div class="row mt-4">

  <%= render 'admin/search' %>

<div class="col">
  <div class="row">
    <div class="col-auto mt-5" style="background-color: darkgray;">
     <h5><%= @instructor.name %>の予約一覧</h5>
    </div>
  </div>
<table class="table" style="font-size: 80%;">
    <thead>
     <tr>
      <th scope="col-2">受講日</th>
      <th scope="col-1">時限</th>
      <th scope="col-5">受講生徒/車種</th>
     </tr>
    </thead>
    <tbody>

     <% @schedules.each do |schedule| %>
     <tr>
      <td><%= schedule.class_dayf %></td>
      <td><%= "#{schedule.class_time}限目" %></td>
      <td><%= link_to schedule.course.course_name,admin_course_path(schedule.course.id) %></td>
      <td><%= schedule.instructor.name %></td>
      <td><%= link_to "変更", edit_admin_schedule_path(schedule.id) %></td>
     <tr>
     <% end %>
    </tbody>
   </table>
   <%= paginate @schedules %>

 <%= link_to "#{@instructor.name}詳細へ戻る", admin_instructor_path(@instructor.id) %>
 </div>
</div>
