<div class="row mt-4">

  <%= render 'admin/scheduleindex', schedules: @schedules, class_day: @class_day %>

<div class="col">
    <%= @schedule.class_day %>
    <%= @schedule.class_time %>
    <%= @schedule.course.course_name %>
    <%= @schedule.instructor.name %>
</div>