<h1>コース新規登録</h1>

<%= form_with model: @course, url: admin_course_path do |f| %>

<%= @student.name %>
<% f.hidden_field :student_id, :value => @student.id %>


  <div class="row justify-content-start mt-3">
   <div class="col-3 ml-4">
    <p>受講車種</p>
   </div>
   <div class="col-6">
    <%= f.select :car_model, *[普通車,二輪,その他] %>
   </div>
  </div>

  <div class="row justify-content-start mt-3">
   <div class="col-3 ml-4">
    <p>担当指導員</p>
   </div>
   <div class="col-6">
    <%= f.select :corses.instructor.id, options_from_collection_for_select(Instructor.all, :id, :name) %>
   </div>
  </div>


  <div class="row justify-content-start mt-3">
   <div class="col-3 ml-4">
    <p>入校日</p>
   </div>
   <div class="col-6">
    <%= f.date_select :start_time %>
   </div>
  </div>