<div class="row mt-4">

 <div class="col-3 mt-2">
  <h6 class="d-inline-flex justify-content-start bg-primary p-1 text-dark bg-opacity-25">
    <%= @course.course_name %>の</h6><br>
  <h6 class="d-inline-flex justify-content-end bg-primary p-1 text-dark bg-opacity-25">予約一覧</h6>

<table class="table" style="font-size: 75%;">
    <thead>
     <tr>
      <th scope="col">受講日</th>
      <th scope="col">時限</th>
      <th scope="col">担当指導員</th>
     </tr>
    </thead>
    <tbody>

     <% @schedules.each do |schedule| %>
     <tr>
      <td><%= schedule.class_dayf %></td>
      <td><%= schedule.class_time %></td>
      <td><%= schedule.instructor.name %></td>
     <tr>
     <% end %>
    </tbody>
   </table>
  </div>



 <div class="col">
  <h3>コース詳細</h3>

  <table class="table">
   <tbody>
    <tr>
     <th>受講生徒名</th>
     <td><%= @course.student.name %></td>
    </tr>
    <tr>
     <th>住所</th>
     <td><%= @course.student.address %></td>
    </tr>
    <tr>
     <th>電話番号</th>
     <td><%= @course.student.phone %></td>
    </tr>
    <tr>
     <th>担当指導員名</th>
     <td><%= @course.instructor.name %></td>
    </tr>
    <tr>
     <th>入校日</th>
     <td><%= l @course.start_time %></td>
    </tr>
    <tr>
     <th>受講車種</th>
     <td><%= @course.car_model_i18n %></td>
    </tr>
    <tr>
     <th>受講ステータス</th>
     <td><%= @course.status_i18n %></td>
    </tr>
    <tr>
     <th>卒業日</th>
     <td>
     <% if @course.status_i18n == "卒業" %>
     <%= @course.graduation_day %>
     <% else %>
     在籍中
     <% end %>
     </td>
    </tr>

   </tbody>
  </table>


    <div class="col">
   <%= link_to "担当・車種・ステータス変更", edit_admin_course_path(@course.id), class: "btn btn-success px-5" %>
    </div>
<div class="row justify-content-md-end mt-3">
    <div class="col-lg-auto">
   <%= link_to "生徒情報変更",edit_admin_student_path(@course.student.id), class: "btn btn-outline-success btn-sm" %>
    </div>
    <div class="col-lg-auto">
   <%= link_to "コース追加", admin_student_path(@course.student.id), class: "btn btn-outline-info btn-sm" %>
    </div>
   </div>
 </div>
</div>