<!DOCTYPE html>
<html>
  <head>
    <title>DSSSystemPf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


  </head>



  <body>

    <header class="navbar navbar-expand bg-dark-subtle">
      <div class="container-fluid justify-content-end">
        <p class="navbar-brand">ログイン指導員名マイページ</p>
        <form class="d-flex align-items-center" role="search">
          <input class="form-control" type="search" placeholder="生徒名検索" aria-label="Search">
          <button class="btn btn-success mx-2 text-nowrap" type="submit">検索</button>
        </form>
        <button class="btn btn-secondary">ログアウト</button>
      </div>
    </header>
<div class="container">


    <%= yield %>

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
