<!DOCTYPE html>
<html>
  <head>
    <title>DSSSystemPf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>

  <body>

<!--指導員ヘッダー-->
  <% if instructor_signed_in? %>
    <header class="navbar navbar-expand bg-dark-subtle py-4">
      <div class="container-fluid justify-content-around">
        <div class="col-auto">
          <%= current_instructor.name %>
        </div>
        <%= link_to "トップへ", courses_path, class:"btn btn-info"%>
        <%#= link_to "在籍生徒一覧", courses_index_all_path, class:"btn btn-info"%>

    <%= form_with url: students_search_path, local: true, method: :get do |f| %>
      <form class="d-flex align-items-center" role="search">
        <%= f.text_field :keyword, placeholder: "生徒名検索" %>
        <%= f.submit "検索", class: 'btn btn-success mx-2 text-nowrap' %>
      </form>
    <% end %>
        <%= link_to "ログアウト", destroy_instructor_session_path, method: :delete, class:"btn btn-secondary"%>
      </div>
    </header>

    <!--管理者ヘッダー-->
  <% elsif admin_signed_in? %>
    <header class="navbar navbar-expand bg-dark-subtle py-4">
      <div class="container-fluid justify-content-around">

        <div class="col-auto">
          <%= link_to "Top", admin_homes_top_path, class:"btn btn-info me-2"%>
          <%= link_to "新規生徒登録", new_admin_student_path, class: 'btn btn-primary me-2' %>
          <%= link_to "新規指導員登録", new_admin_instructor_path, class: 'btn btn-primary' %>
        </div>
            <%= form_with url: admin_homes_search_path, local: true, method: :get do |f| %>
        <form class="d-flex align-items-center" role="search">
         <%= f.text_field :keyword %>
         <%= f.select :range, options_for_select([['受講生徒'],['指導員']]) %>
         <%= f.submit "検索", class: 'btn btn-success mx-2 text-nowrap' %>
        </form>
    <% end %>

        <div class="col-auto">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-secondary"%>
        </div>
      </div>
    </header>

    <!--ログイン前-->
  <% else %>
    <header class="navbar navbar-expand bg-dark-subtle py-4">
      <div class="container-fluid justify-content-start">
       <%= link_to "指導員用ログインページへ", instructor_session_path, class:"btn btn-dark text-nowrap" %>
      </div>
      <div class="container-fluid justify-content-end">
       <%= link_to "管理者用", admin_session_path, class:"btn btn-outline-dark text-nowrap" %>
      </div>
    </header>
  <% end %>


<div class="container">


    <%= yield %>

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
