<!DOCTYPE html>
<html>
  <head>
    <title>DSSSystemPf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>

  <body>

<!--指導員ヘッダー-->
  <% if instructor_signed_in? %>
    <header class="navbar navbar-expand bg-dark-subtle py-3 sticky-top">
      <div class="container-fluid justify-content-around">
        <div class="col">
        <%= link_to "#{current_instructor.name}マイページ", courses_path, class:"btn btn-dark btn-sm" %>
        <%= link_to "コメント履歴", comments_path, class:"btn btn-success btn-sm" %>
        </div>
      </div>
      <div class="container-fluid justify-content-end">
    <%= form_with url: students_search_path, local: true, method: :get do |f| %>
      <form class="d-flex align-items-center" role="search">
        <%= f.text_field :keyword, placeholder: "生徒名検索" %>
        <%= f.submit "検索", class: 'btn btn-success text-nowrap btn-sm' %>
      </form>
    <% end %>
        <%= link_to "ログアウト", destroy_instructor_session_path, method: :delete, class:"btn btn-secondary ms-5 btn-sm"%>
      </div>
    </header>

    <!--管理者ヘッダー-->
  <% elsif admin_signed_in? %>
    <header class="navbar navbar-expand bg-dark-subtle py-3  sticky-top">
      <div class="container-fluid justify-content-around">

        <div class="col-auto">
          <%= link_to "Home", admin_homes_top_path, class:"btn btn-light eme-2 btn-sm" %>
        </div>
        <div class="col-auto">
          <%= link_to "新規生徒・指導員登録", admin_courses_path, class:"btn btn-light eme-2 btn-sm" %>
        </div>
        <div class="col-auto">
          <%= link_to "予約登録", new_admin_schedule_path, class:"btn btn-light eme-2 btn-sm" %>
        </div>


            <%= form_with url: admin_homes_search_path, local: true, method: :get do |f| %>
        <form class="d-flex align-items-end" role="search">
         <%= f.text_field :keyword, placeholder: "名前検索" %>
         <%= f.select :range, options_for_select([['受講生徒'],['指導員']]) %>
         <%= f.submit "検索", class: 'btn btn-success btn-sm mx-2 text-nowrap' %>
        </form>
    <% end %>

        <div class="col-auto">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-secondary btn-sm"%>
        </div>
      </div>
    </header>

    <!--ログイン前-->
  <% else %>
    <header class="navbar navbar-expand bg-dark-subtle py-3 sticky-top">
      <div class="container-fluid">
       <%= link_to "指導員用ログインページへ", instructor_session_path, class:"btn btn-dark text-nowrap" %>
      </div>
    </header>
  <% end %>


<div class="container">
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

</div>

<% if instructor_signed_in? %>
  <footer class="fixed-bottom bg-dark-subtle py-2">
      <div class="row justify-content-end">
        <div class="col-2">
          <%#= link_to "管理者用", admin_session_path, class:"btn btn-outline-dark text-nowrap" %>
        </div>
      </div>
  </footer>
<% elsif admin_signed_in? %>
  <footer class="fixed-bottom bg-dark-subtle py-2">
      <div class="row justify-content-end">
        <div class="col-2">
          <%#= link_to "管理者用", admin_session_path, class:"btn btn-outline-dark text-nowrap" %>
        </div>
      </div>
  </footer>
<% else %>
  <footer class="fixed-bottom bg-dark-subtle py-2">
      <div class="row justify-content-end">
        <div class="col-2">
          <%= link_to "管理者用", admin_session_path, class:"btn btn-outline-dark text-nowrap" %>
        </div>
      </div>
  </footer>
<% end %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
